.container {
  position: absolute;
  top: 110%;
  width: 100%;
  padding: 10px 0px;
  background-color: white;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 250px;
  overflow: scroll;
}

.song {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: end;
  cursor: pointer;
  transition: background-color 0.2s;
}

.song:hover {
  background-color: rgb(0 0 0 / 0.1);
}

.song img {
  height: 80px;
  width: 80px;
}

.name {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: var(--text-dark);
}

.artist {
  font-size: 0.9rem;
}
