* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
}

.main-background {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/inst.webp");
  background-size: 250px;
  background-repeat: repeat;
  z-index: -1;
}

.main-background-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(216, 190, 58);
  opacity: 60%;
  z-index: -1;
}
