:root {
  --black: 6 6 6;
  --white: 241 235 226;
  --green: 43 66 56;
  --orange: 231 91 49;
  --off-white: 235 219 201;

  --background-light: rgb(var(--white));
  --text-dark: rgb(var(--black));
  --text-light: rgb(var(--black) / 0.8);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--background-light);
  color: var(--text-light);
}

text-xl {
  font-size: 2.25rem;
  font-weight: 700;
}
